.inputFieldOffline{
    width: 630px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #454545;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.inputFieldLecture{
    width: 630px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    color: #454545;
    height: 480px;
}
.inputTitle{
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
}
.textInput{
    width: 48%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 15px;
    color: #454545;
    background-color: #e0e0e0;
    border: none;
    padding-left: 5px;
}
.massageInput{
    width: 100%;
    height: 200px;
    float: left;
    margin-bottom: 10px;
    font-size: 15px;
    color: #454545;
    background-color: #e0e0e0;
    border: none;
    padding-left: 5px;
}
.checkbox{
    float: left;
    text-align: left;
    font-size: 13px;
    color: #454545;
}
.inputButton{
    width: 100px;
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: #ff4e4e;
    color: white;
    float: right;
}

@media only screen and (max-width: 760px) {
    .inputFieldOffline{
        width: 89%;
        height: 720px;
        padding-left: 10%;
        padding-right: 0px;
    }
    .inputFieldLecture{
        width: 89%;
        height: 650px;
        padding-left: 10%;
        padding-right: 0px;
    }
    .inputTitle , .textInput , .massageInput{
        width: 80%;
    }
    .inputButton{
        margin-right: 17%;
    }
}