.field{
    padding-top: 10px;
    text-align: center;
    background-color: #ffed49;
    color:#454545;
    display: flex;
    flex-direction: column;
}
#requestTextOne{
    margin: 0;
}
#requestTextTwo{
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 500;
}
#companyButton{
    width: 750px;
    margin: 20px auto;
    background-color: white;
    text-decoration: none;
    text-align: center;
    color: #454545;
    font-size: 30px;
}
@media only screen and (max-width: 760px) {
    #companyButton{
        width: 100%;
        font-size: 30px;
        left: 0;
        margin-left: 0;
    }
}