.field {
	text-align: center;
	color: #504f4b;
	display: flex;
	flex-direction: column;
}
#requestTextOne {
	margin: 0;
	padding: 20px;
	font-size: 30px;
	font-weight: 600;
}
#requestTextTwo {
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 20px;
}
#companyButton {
	width: 710px;
	margin: 20px auto;
	background-color: #fcf4cc;
	text-decoration: none;
	text-align: center;
	color: #504f4b;
	font-size: 30px;
	font-weight: 600;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 20px;
}
#companyNoButton {
	margin-bottom: 40px;
}
#homeSelectFieldAnchorSpace {
	position: relative;
}
#HomeSelectField {
	position: absolute;
	top: -70px;
}
@media only screen and (max-width: 760px) {
	#companyButton {
		width: 100%;
		font-size: 30px;
		left: 0;
		margin-left: 0;
	}
}
